{% extends "base.html" %}

{% block title %} Sign Up{% endblock %}

{% block main %}

    <h3>Not a member yet? Please Sign up</h3>
    <h5>Already a member? Go to <a href="/login">Login</a></h5>
    <form action="/signup" method="post">
        <div class="mb-3">
        <label for="InputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="InputUsername" name="username" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
      </div>
        <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Repeat Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" name="password_repeat" required>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">I agree with the terms and conditions</label>
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
{% endblock %}